*{
    box-sizing:border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0;
    background-color: darkblue;
}
.container{
    width: 1200px;
    margin: auto;
    max-width: 100%;
    background-color: blue;
    
}
.content{
    width: 100%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex img{
    width: 50px;
    height: 50px;
}
.flex li{
    display: inline-block;
    padding: 0 15px;
}
.flex a{
    color: white;
}
.btn{
    margin-top: 15px;
}
.btn a{
    color: white;
    background-color: red;
    padding: 7px;
    border-radius: 15px;
    margin-right: 10px;
}
.section{
    color: white;
    margin-left: 70px;
    margin-top: 150px;
}
.text-2{
    display: flex;
    flex-wrap: wrap;
}
.col{
    padding: 0 15px;
}

.capsule{
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    padding: 0 15px;
    width: 70px;
    height: 100%;
    border-radius: 60px;
    background-color: rgb(0, 81, 255);   
}
.col-6 h5{
    border-radius: 100px;
    background-color: rgb(3, 3, 124);
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.col-6 p {
    text-align: center;
}
.link-2 a{
    color: white;
    background-color: crimson;
    padding: 5px 35px ;
    border-radius: 25px;
}
.link-2{
    margin-top: 50px;
}
img{
    width: 350px;
    height: 100%;
    max-width: 100%;
}
.image img{
    position: relative;
    left: 630px;
    bottom: 500px;
    transform: rotate(10deg);
}

